
<div class="Bodytext">

    <h1 class="banner">Manage Your Jobs to Success!</h1>
    
    </div>
    
      <div class="container_12">
        <div class="oddrow">
          <div id="whyneedit">
            <h2>Why do you need it?</h2>
          </div>
            <div id="needittext">
             <ul>
     <li>You dont want to apply for the same job twice! </li>
     <li>Save interview questions and answers for future reference.</li>
     <li>Track your application status and see how close you are to an offer!</li>
     <li>Mark your achievements along the way so you can talk about them anytime you need to. </li>
     </ul>
          
          
        </div>  
      </div>
 
 
</div>


<!--<ul>Why you need it?
     <li>You dont want to apply for the same job twice! </li>
     <li>You can save interview questions and great answers for future reference.</li>
     <li>Keep track of your application status and see how close you are getting to a job offer!</li>
     <li>Mark your achievement along the way so you have them at hand when you need to talk something great about yourself. </li>
     </ul>
*/
