<div class="jumbotron">
  
  <p class="lead">
   MyJobs is a great tool to track, organize and manage your job applications and career advancement!
  </p>
  <p>
     <ul>Why you need it?
     <li>You dont want to apply for the same job twice! </li>
     <li>You can save interview questions and great answers for future reference.</li>
     <li>Keep track of your application status and see how close you are getting to a job offer!</li>
     <li>Mark your achievement along the way so you have them at hand when you need to talk something great about yourself. </li>
    
</ul>
  </p>
  <p>
    In order for this demo to work, you <strong>must enable pop-ups</strong> on
    this site. This is just so Dropbox can connect properly.Press the big green button to get started!
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/explorer">Start</a></p>
</div>
